

.todo{
    position: relative;
    border-bottom: 1px solid whitesmoke;
}

.todo:last-child, .todo--invisible{
    border-bottom: 0;
}

.todo__undone{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70px;
    padding: 10px 20px;
    position: relative;
    z-index: 1;
    background-color: white;
}


.todo__undone--animated{
    transition: left 0.5s, height 0.5s 0.5s, padding 0.5s 0.5s;
}

.todo__undone--selected{
    background-color: #FFF1FF;
}

.todo__undone--priority1{
    border-left: 5px solid red;
}

.todo__undone--priority2{
    border-left: 5px solid orange;
}

.todo__undone--priority3{
    border-left: 5px solid yellowgreen;
}

/* .todo__undone--invisible{
    height: 0px;
    padding: 0px;
    border: 0px;
} */

.todo__undone__title{
    color: black;
    font-size: 16px;
    font-weight: normal;
}

.todo__undone__date{
    color: lightgrey;
    font-size: 12px;
}

.todo__done{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    padding: 10px 20px;
    background-color: green;
}

.todo__done__icon{
    height: 50px;
    width: 30px;
    padding: 10px 0;
}

.todo-enter {
    opacity: 0.01;
}

.todo-enter.todo-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.todo-leave {
    opacity: 1;
}

.todo-leave.todo-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}