.todo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50px;
    padding: 10px 20px;
    border-bottom: 1px solid whitesmoke;
    position: relative;
    z-index: 1;
    background-color: white;
}

.todo--animated{
    transition: left 0.5s, height 0.5s 0.5s, padding 0.5s 0.5s;
}

.todo--priority1{
    border-left: 5px solid red;
}

.todo--priority2{
    border-left: 5px solid orange;
}

.todo--priority3{
    border-left: 5px solid yellowgreen;
}

.todo--invisible{
    height: 0px;
    padding: 0px;
    border: 0px;
}

.todo--done{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    padding: 10px 20px;
    background-color: green;
}

.todo__title{
    color: black;
    font-size: 16px;
}

.todo__date{
    color: lightgrey;
    font-size: 12px;
}

.todo--done__icon{
    height: 30px;
    width: 30px;
    padding: 10px 0;
}